

body {
  font-family: 'Poppins', sans-serif;  
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.leaflet-control-coordinates{
  background-color: #ffffff73;
  font-size: 15px;
  padding: 2px 10px;
  font-weight: 500;
}

.maps img {
  max-width: 100%;
  border-radius: 20px;
}

#titleBar {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #242526;
  color: white;
  text-align: center;
  padding: 20px;
}

#titleBar h1 {
  margin: 0;
  font-size: 24px;
  text-align: center;
  /* Center the h1 */
}

#titleBar button {
  padding: 10px 20px;
  background-color: #2ecc71;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
  /* Add margin */
  border-radius: 5px;
  /* Round corners */
  transition: background-color 0.3s ease-in-out;
  z-index: 2;
}

#titleBar button:hover {
  background-color: #27ae60;
}

#titleBar button:active {
  background-color: #1abc9c;
}



.upper_box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  height: 100vh;
  margin-left: 20px;
}

.map {
  display: flex;
  border: #242526 10px solid;
  /* border-radius: 20px; */
  height: 100%;
  width: 100%;
  z-index: 1;
}

.maps {
  display: flex;
  border-radius: 20px;
  margin-right: 20px;
}


.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 56px;
}

.lds-ellipsis div {
  position: absolute;
  top: 24px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}



/* .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.popup {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}  */

#newPopup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1002;
}


#popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1002;
  
}

.model-list-item {
  list-style-type: none;
  margin: 5px;
  padding: 3px;
  cursor: pointer;
}

.model-list-item:hover {
  background-color: lightgrey;
}



.popup-content{
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 55%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  border-radius: 10px;
  position: relative;
}

.popup {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 30%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  border-radius: 10px;
  position: relative;
}

/* Style the close button */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 35px;
  cursor: pointer;
  color: #333;
}

/* Style the input fields */
.input-wrapper {
  margin: 10px 0;
}

.input-wrapper input[type="file"] {
  display: block;
}

.input-wrapper label {
  display: inline-block;
  background-color: #3498db;
  color: #fff;
  padding: 8px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* Style the "Save Files" button */
.save-button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.save-button:hover {
  background-color: #2980b9;
}

.center_input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* Style the file input labels */
.file-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

/* Style the input fields */
.input-wrapper {
  margin: 10px 0;
}

.input-wrapper input[type="file"] {
  display: none;
}

.input-wrapper label {
  display: inline-block;
  background-color: #3498db;
  color: #fff;
  padding: 8px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* Style the "Save Files" button */
.save-button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.save-button:hover {
  background-color: #2980b9;
}

.button_center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}


.traing_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}


.icon-bar::-webkit-scrollbar {
  display: none !important;
}

/* Your existing CSS code */
/* Your existing CSS code */

/* Icon bar styling */
.icon-bar {
  position: fixed;
  left: 19px;
  top: 61% !important;
  overflow-y: scroll;
  height: 68vh !important;
  transform: translateY(-50%);
}

.icon-bar .icon {
  display: flex;
  align-items: center;
  width: 30vh;

}

.icon-bar a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  border-radius: 50%;
  transition: all 0.3s;
  color: #ffffff;
  font-size: 20px;
  height: 25px;
  width: 25px;
  border: 2px seashell solid;
  background: #000;
  margin: 5px;
  text-decoration: none;
}

.hoverss {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hoverss p {
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  text-align: center;
}

.icon-bar .icon .label {
  display: none;
  position: absolute;
  margin-top: 28px;
  left: 110px;
  transform: translate(-50%, -50%);
  background: #000;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
  white-space: nowrap;
}

.icon-bar .icon .label p {
  margin: 0;
  padding: 0;
}

.icon-bar .icon .label::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  /* Places the triangle on the left */
  margin-top: -5px;
  /* Half the height of the triangle */
  border-width: 5px;
  border-style: solid;
  border-color: transparent #3498db transparent transparent;
}

.icon-bar .icon a:hover+.label {
  display: block;
  opacity: 1;
}

.userprofile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  justify-content: space-evenly;

}

.userprofiles {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  justify-content: space-evenly;
  cursor: pointer;
}

.userprofile {
  display: none;
}


.userprofile img {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  cursor: pointer;
}

/* Sidebar styling */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f5f5f5;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #000;
}

.closebtn {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


nav{
  position: fixed;
  z-index: 99;
  width: 100%;
  
  background: #242526;
}
nav .wrapper{
  position: relative;
  height: 70px;
  width: 100% !important;
  line-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.wrapper .logo a{
  color: #f2f2f2;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.wrapper .nav-links{
  display: inline-flex;
}
.nav-links li{
  list-style: none;
}
.nav-links li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.nav-links li a:hover{
  background: #3A3B3C;
}
.nav-links .mobile-item{
  display: none;
}
.nav-links .drop-menu{
  position: absolute;
  background: #242526;
  width: 180px;
  line-height: 45px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box{
  transition: all 0.3s ease;
  top: 70px;
  opacity: 1;
  visibility: visible;
}
.drop-menu li a{
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  font-weight: 400;
  border-radius: 0px;
}
.mega-box{
  position: absolute;
  left: 190px;
  width: 60%;
  padding: 0 0px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
}
.mega-box .content{
  background: #242526;
  padding: 25px 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.mega-box .content .row{
  width: 45%;
  line-height: 45px;
}
.content .row img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content .row header{
  color: #f2f2f2;
  font-size: 20px;
  font-weight: 500;
}
.content .row .mega-links{
  margin-left: -40px;
  border-left: 1px solid rgba(255,255,255,0.09);
}
.row .mega-links li{
  padding: 0 20px;
}
.row .mega-links li a{
  padding: 0px;
  padding: 0 20px;
  color: #d9d9d9;
  font-size: 17px;
  display: block;
}
.row .mega-links li a:hover{
  color: #f2f2f2;
}
.wrapper .btn{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.wrapper .btn.close-btn{
  position: absolute;
  right: 30px;
  top: 10px;
}

@media screen and (max-width: 970px) {
  .wrapper .btn{
    display: block;
  }
  .wrapper .nav-links{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 0;
    left: -100%;
    background: #242526;
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0,0,0,0.18);
    transition: all 0.3s ease;
  }
  /* custom scroll bar */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #242526;
  }
  ::-webkit-scrollbar-thumb {
    background: #3A3B3C;
  }
  #menu-btn:checked ~ .nav-links{
    left: 0%;
  }
  #menu-btn:checked ~ .btn.menu-btn{
    display: none;
  }
  #close-btn:checked ~ .btn.menu-btn{
    display: block;
  }
  .nav-links li{
    margin: 15px 10px;
  }
  .nav-links li a{
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }
  .nav-links .drop-menu{
    position: static;
    opacity: 1;
    top: 65px;
    visibility: visible;
    padding-left: 20px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    box-shadow: none;
    transition: all 0.3s ease;
  }
  #showDrop:checked ~ .drop-menu,
  #showMega:checked ~ .mega-box{
    max-height: 100%;
  }
  .nav-links .desktop-item{
    display: none;
  }
  .nav-links .mobile-item{
    display: block;
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .nav-links .mobile-item:hover{
    background: #3A3B3C;
  }
  .drop-menu li{
    margin: 0;
  }
  .drop-menu li a{
    border-radius: 5px;
    font-size: 18px;
  }
  .mega-box{
    position: static;
    top: 65px;
    opacity: 1;
    visibility: visible;
    padding: 0 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  .mega-box .content{
    box-shadow: none;
    flex-direction: column;
    padding: 20px 20px 0 20px;
  }
  .mega-box .content .row{
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(255,255,255,0.08);
  }
  .mega-box .content .row:nth-child(1),
  .mega-box .content .row:nth-child(2){
    border-top: 0px;
  }
  .content .row .mega-links{
    border-left: 0px;
    padding-left: 15px;
  }
  .row .mega-links li{
    margin: 0;
  }
  .content .row header{
    font-size: 19px;
  }
}
nav input{
  display: none;
}
