<!DOCTYPE html>
<html>
<head>
    <title>ObjectDetectorMap</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
</head>
<body>
    <div id="titleBar">
        <!-- Title and buttons go here -->
        <h1>SatelliteObjectDetective: Leaflet & YOLOv5 Integration</h1>
        <button id="detectButton" onclick="captureMapSnapshot()">Detect Objects</button>
        <button>Add Annotations</button>
    </div>
    <div id="map"></div>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
